* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --red: #d80e0e;
    --gray: #fff;
    --black-light: rgba(0, 0, 0, 0.4);
}

body {
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
    font-family: "Prompt", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: var(--white);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px var(--black-light);
}

h1 {
    color: var(--purple);
    margin-bottom: 20px;
}

/* FORM */
input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    outline: none;
    display: block;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input::placeholder {
    color: var(--blue-dark);
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--blue-dark);
}

.link {
    margin-top: 10px;
    font-size: 0.9rem;
}

.link a {
    color: var(--purple);
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
